.charactersFavouriteSection {
    background-color: white;
    border: 2px solid $color_secondary;
    border-radius: 10px;

    padding: 2.5rem;
    margin-inline: 50px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    &__card:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        margin-top: 25px;
    }

    &__counter {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    &__counterheart {
        margin-right: 10px;
    }

    &__descriptiontext {
        margin: auto;
        width: 90%;
        text-align: center;
        margin-block: 25px;
    }

    &__delete-btn {
        background-color: $color_principal;
        height: 2.5rem;
        width: 17rem;
        color: white;
        font-size: 20px;
        border: 2px solid $color_principal;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
    }

    &_delete-btn:hover {
        background-color: $color_secondary;
        color: $color_principal;
    }

    &__image {
        width: 75%;
        display: flex;
        margin: auto;
    }

}

// Pasar el fondo a blanco y ocultar el corazón en la lista de favoritos 

.js_favouriteCharacterUl .favourite {
    background-color: white;
    border-color: #ccc;

}

.js_favouriteCharacterUl .favourite .js_characterHeart {
    display: none;
}

// Icono de basura para la sección de favoritos

.js_trash {
    cursor: pointer;
    margin-right: 20px;
}

.js_trash:hover {
    color: red;
    transform: rotate(-15deg) scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}