.footer {
    background-color: $color_principal;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;

    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}