.header__image {
    height: 50vh;
    background-image: url("../images/castillo-de-disney.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search__form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 25px;
    gap: 15px;
    transform: translateY(-50%);
    z-index: 2;
    background-color: white;
    width: 70%;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

}

.search__input {
    height: 10px;
    padding: 10px;
}

.search__btn {
    background-color: #AA336A;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

.search__btn:hover {
    background-color: pink;
    color: #AA336A;
}

.main {
    background: linear-gradient(to right, pink, white);
    height: 100%;
    width: 100%;


}

.characters__section {
    display: grid;
    grid-template-columns: 70% 30%;

}

.characters__title {
    text-align: center;
    font-size: 2rem;
}

.character__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin: auto;
    max-width: 1200px;
}

.character__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid #ccc;
    border-radius: 10px;
    height: 500px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

    overflow: hidden;
}


// Clase favourite para el <li>

.favourite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid #AA336A;
    border-radius: 10px;
    height: 500px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: pink;

    overflow: hidden;
}

.character__img {
    object-fit: cover;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.character__name {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 0.5rem;
    text-align: center;
}

.character__heart {
    cursor: pointer;
}

.character__heart:hover {
    color: red;
}


.heartClicked {
    color: red;
}


.charactersFavourite_section {
    background-color: white;
    border: 2px solid pink;
    border-radius: 10px;
    margin-inline: 50px;
}

.charactersFavourite__title {
    margin-left: 30px;
    font-size: 2rem;
}


// Pasar el fondo a blanco y ocultar el corazón en la lista de favoritos */

.js_favouriteCharacterUl .favourite {
    background-color: white;
    border-color: #ccc;
}

.js_favouriteCharacterUl .favourite .js_characterHeart {
    display: none;
}